<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

    <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

</head>


<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>Perfect Cap Calculation</h1>
  <p>Submit the honor points needed below to figure out which types of users to find</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
<form action="/new" method="POST">
     <!-- (honor) -->
    <label for="honor">Honor Points Needed:</label><br>
    <input name="honor" type="text" min="0" max="1100" size="5" />
    <input type="submit" value="Submit">
</form>

<h2>PERFECT:</h2>
<table id="perfect_options"></table>
<!-- <h2>TWO KILLS:</h2>
<table id="two_people_options"></table>
<h2>THREE KILLS:</h2>
<table id="three_people_options"></table> -->

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(honor) {
    // var honor = control.find("input[name='honor']").val();
    console.log(honor);
    var perfect_table = document.getElementById('perfect_options');
    // var two_people_table = document.getElementById('two_people_options');
    // var three_people_table = document.getElementById('three_people_options');
    
    $.getJSON(TIME_CALC_URL, { honor: honor }, 
      // response handler
      function(data) {
        perfect_table.innerHTML = '';
        var honor_val = data.result;
        console.log("Got a response: " +  honor_val['one_person']);
        for (i = 0; i < honor_val['one_person'].length; i++) {
          var row = perfect_table.insertRow(i);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          cell1.innerHTML = honor_val['one_person'][i][0];
          cell2.innerHTML = honor_val['one_person'][i][1];
        }
        if (honor_val['one_person'].length != 0) {
          var row = perfect_table.insertRow(0);
          var k = 0;
          for(k = 0; k <= 4; k += 2) {
            var cell1 = row.insertCell(k);
            var cell2 = row.insertCell(k + 1);
            cell1.innerHTML = "LEVEL";
            cell2.innerHTML = "RANK";
          }
        }
        else {
          perfect_table.innerHTML = "No matches :("
        }
       } // end of handler function
     );// End of getJSON
    }

  $(document).ready(function(){
   // Do the following when the page is finished loading

      $('input[name="honor"]').change(
         function() {
             var honor = parseInt($(this).val());
             console.log("Honor: " + honor);
             calc_times(honor);
          });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
