/*
 * Styles for Perfect Capping
 */

/* Ringbearer Font
Made by 'thehutt' on 'https://www.1001fonts.com/ringbearer-font.html'*/
@font-face {
  font-family: fun-times;
  src: url(font-fam.ttf);
}

/* Quikhand Font
Made by 'Qwerks' on 'https://www.1001fonts.com/quikhand-font.html'*/
@font-face {
  font-family: handwriting;
  src: url(handwriting.ttf);
}

td {
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 2px;
	border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
	background-color: #eee;
}

table tr:nth-child(odd) {
	background-color: #fff;
}

h1, h2 {
	font-family: fun-times;
}

.add {
	text-align: center;
}

.footer p {
	font-family: handwriting;
	font-size: 18px;
	margin-top: 70px;
    padding-top: 20px;
}

.logo {
	margin: 30px;
	max-width: 500px;
}

.fun {
	max-width: 65px;
}

.container {
	text-align: center;
}

.container table {
	margin: 0 auto;
}

h2 {
	border-top: #999 1.2px solid;
    margin-bottom: 20px;
    margin-top: 20px; 
    padding-bottom: 20px;
    padding-top: 20px
}