/*
 * Styles for Perfect Capping
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

td {
  padding-right: 15px;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}