/*
 * Styles for Perfect Capping
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

td {
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 2px;
	border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
	background-color: #eee;
}

table tr:nth-child(odd) {
	background-color: #fff;
}

.add {
	text-align: center;
}

.footer p {
	margin-top: 70px;
}

.logo {
	margin: 30px;
	max-width: 500px;
}

.fun {
	max-width: 65px;
}